<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./head/meta") %> <%- include ("./head/facebook") %>
  </head>

  <body class="container">
    <main>
      <div class="jumbotron">
        <code>
          <%=JSON.stringify(fb)%>
        </code>
      </div>
    </main>

    <footer>
      <%- include ("./footer/scripts") %>
    </footer>
  </body>
</html>
